<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhino.soccersim">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:hasCode="false"
        android:theme="@style/AppTheme" >


        <!-- Our activity is the built-in NativeActivity framework class. -->
        <activity android:name="android.app.NativeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

            <!-- Tell NativeActivity the name of or .so -->
            <meta-data android:name="android.app.lib_name"
                android:value="droidsoccer" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
